In [1]:
# pip install -U spacy
# pip install -U spacy-lookups-data
# python -m spacy download en_core_web_sm
# python -m spacy download en_core_web_md
# python -m spacy download en_core_web_lg

In [27]:
import pandas as pd
import numpy as np
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

In [28]:
df = pd.read_csv('tweeter_data.csv', encoding= 'latin1', header = None)

In [4]:
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [29]:
df = df[[5,0]]
df.columns = ['twitts', 'sentiments']
df.head()

                                              twitts  sentiments
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...           0
1  is upset that he can't update his Facebook by ...           0
2  @Kenichan I dived many times for the ball. Man...           0
3    my whole body feels itchy and like its on fire            0
4  @nationwideclass no, it's not behaving at all....           0

In [6]:
df['sentiments'].value_counts()

4    800000
0    800000
Name: sentiments, dtype: int64

In [7]:
set_map = {0:'negative', 1:'positive'}

# Word Counts

In [8]:
df['word_count'] = df['twitts'].apply(lambda x : len(str(x).split()))
df.head()

                                              twitts  sentiments  word_count
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...           0          19
1  is upset that he can't update his Facebook by ...           0          21
2  @Kenichan I dived many times for the ball. Man...           0          18
3    my whole body feels itchy and like its on fire            0          10
4  @nationwideclass no, it's not behaving at all....           0          21

# Character count

In [9]:
df['char_count'] = df['twitts'].apply(lambda x: len(x))
df.head()

,twitts,sentiments,word_count,char_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115
1,is upset that he can't update his Facebook by ...,0,21,111
2,@Kenichan I dived many times for the ball. Man...,0,18,89
3,my whole body feels itchy and like its on fire,0,10,47
4,"@nationwideclass no, it's not behaving at all....",0,21,111

# Average word length

In [10]:
def get_avg_word_len(x):
    words = x.split()
    word_len = 0
    for word in words:
        word_len = word_len + len(word)
    return word_len/len(words) 

# get_avg_word_len('Machine Learning')

In [11]:
df['avg_word_len'] = df['twitts'].apply(lambda x:get_avg_word_len(x))
df.head()

,twitts,sentiments,word_count,char_count,avg_word_len
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444
3,my whole body feels itchy and like its on fire,0,10,47,3.700000
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714

# Stop Words Count

In [12]:
print(STOP_WORDS)

{'often', 'nevertheless', 'why', 'within', 'else', 'thus', 'amongst', 'thru', 'take', '’re', 'whence', 'onto', 'from', 'across', 'perhaps', 'otherwise', 'where', 'did', 'him', 'under', 'seemed', 'am', 'could', 'he', 'regarding', 'whole', 'move', "'re", 'anyone', 'throughout', 'part', 'used', 'ca', 'be', 'give', 'alone', 'mostly', 'twenty', 'hereupon', 'ourselves', 'whereby', 'nowhere', 're', 'almost', 'every', "'s", 'own', 'ever', 'these', 'everyone', 'either', 'my', 'using', 'first', 'until', 'nor', '’m', 'ours', 'next', 'whether', 'doing', 'put', 'herself', 'except', 'your', 'empty', 'please', 'our', 'some', 'whoever', 'without', 'again', 'are', 'how', 'therein', '‘ll', 'there', 'does', 'between', 'always', 'might', 'was', 'two', 'just', 'noone', 'many', 'around', '’ve', 'were', 'cannot', 'all', 'eleven', 'you', 'forty', 'been', 'them', 'one', 'thereby', 'indeed', 'others', 'will', 'something', 'enough', 'when', 'whereas', 'off', 'or', 'me', 'hers', 'full', 'by', 'it', 'also', 'whereupon', 'into', 'somewhere', 'namely', 'sometime', 'anyhow', 'they', 'thereupon', 'herein', 'never', 'someone', 'against', 'seem', 'but', 'an', 'myself', 'everything', 'any', 'nobody', 'during', 'become', 'whose', 'front', 'no', 'anyway', 'of', 'not', 'several', 'before', 'can', 'whom', 'meanwhile', 'anything', 'as', 'above', 'former', 'somehow', 'four', 'other', 'top', 'sometimes', 'still', 'third', 'hence', 'afterwards', '’s', 'say', 'fifteen', 'both', 'since', 'is', 'keep', 'at', 'itself', 'however', 'in', 'less', 'through', 'here', 'nine', 'toward', 'which', '‘d', 'much', 'sixty', 'everywhere', 'bottom', 'such', 'thereafter', 'n’t', 'seeming', 'though', 'last', 'five', 'serious', 'below', 'each', 'yourselves', 'whatever', 'would', 'after', 'further', 'unless', 'down', 'six', 'hundred', 'thence', 'hereby', 'themselves', 'even', 'more', 'go', 'on', 'ten', 'made', '‘ve', 'besides', 'get', 'quite', '‘s', 'hereafter', 'then', 'beforehand', 'us', 'so', 'and', 'although', 'being', 'to', 'make', 'whenever', 'already', 'wherein', 'formerly', 'another', "'ll", 'about', 'seems', 'i', 'really', 'latter', 'along', 'out', 'its', 'wherever', 'up', 'became', 'mine', 'well', 'that', 'show', 'among', 'do', 'eight', 'name', 'amount', 'those', 'few', 'upon', 'if', 'per', 'over', '‘m', 'moreover', 'anywhere', 'beside', '‘re', 'yours', 'for', 'with', 'n‘t', '’d', 'least', 'yet', 'see', 'had', 'once', 'should', 'whither', 'only', 'very', 'her', 'therefore', 'done', 'call', "'d", 'we', 'while', 'must', 'who', 'too', 'than', 'neither', 'various', 'she', 'latterly', 'rather', 'has', 'yourself', "n't", 'because', 'together', 'via', 'behind', 'beyond', 'nothing', 'towards', 'now', 'three', 'himself', 'becoming', 'whereafter', 'his', 'this', 'their', '’ll', 'becomes', 'most', 'elsewhere', 'side', 'due', 'have', 'twelve', "'ve", 'fifty', 'what', "'m", 'may', 'none', 'same', 'the', 'a', 'back'}

In [30]:
df['stop_words_count'] = df['twitts'].apply(lambda x:len([word for word in x.split() if word in STOP_WORDS]))

In [14]:
df.head()

,twitts,sentiments,word_count,char_count,avg_word_len,stop_words_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10

### Count #Hashtags and @Mentions

In [15]:
df['hastag_count'] = df['twitts'].apply(lambda x:len([word for word in x.split() if word.startswith('#')]))
df['mentions_count'] = df['twitts'].apply(lambda x: len([word for word in x.split() if word.startswith('@')]))
df.head()

,twitts,sentiments,word_count,char_count,avg_word_len,stop_words_count,hastag_count,mentions_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1

### Check for numeric data

In [16]:
df['numeric_digit'] = df['twitts'].apply(lambda x:len([word for word in x.split() if word.isdigit()])) 
df.head()

,twitts,sentiments,word_count,char_count,avg_word_len,stop_words_count,hastag_count,mentions_count,numeric_digit
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1,0
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,1,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1,0

### UPPER case word count

In [17]:
df['upper_count'] = df['twitts'].apply(lambda x:len([t for t in x.split() if t.isupper() and len(x) > 3]))
df.head()

,twitts,sentiments,word_count,char_count,avg_word_len,stop_words_count,hastag_count,mentions_count,numeric_digit,upper_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1,0,1
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,1,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1,0,1

In [18]:
df.loc[96]['twitts']

"so rylee,grace...wana go steve's party or not?? SADLY SINCE ITS EASTER I WNT B ABLE 2 DO MUCH  BUT OHH WELL....."

## Preprocessing and Cleaning of data

### Convert to lower case

In [31]:
df['twitts'] = df['twitts'].apply(lambda x: x.lower())
df.head(2)

,twitts,sentiments,stop_words_count
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,4
1,is upset that he can't update his facebook by ...,0,9

### Contraction to Expansion

In [32]:
contractions = { 
"ain't": "am not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he'll've": "he will have",
"he's": "he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how does",
"i'd": "i would",
"i'd've": "i would have",
"i'll": "i will",
"i'll've": "i will have",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'd've": "it would have",
"it'll": "it will",
"it'll've": "it will have",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she would",
"she'd've": "she would have",
"she'll": "she will",
"she'll've": "she will have",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so is",
"that'd": "that would",
"that'd've": "that would have",
"that's": "that is",
"there'd": "there would",
"there'd've": "there would have",
"there's": "there is",
"they'd": "they would",
"they'd've": "they would have",
"they'll": "they will",
"they'll've": "they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
" u ": " you ",
" ur ": " your ",
" n ": " and "}

In [33]:
def cont_to_exp(x):
    if type(x) is str:
        for key in contractions:
            value = contractions[key]
            x = x.replace(key,value)
        return x
    else:
        return x
    
# cont_to_exp("i've to be there")

In [34]:
%%time
df['twitts'] = df['twitts'].apply(lambda x: cont_to_exp(x))

Wall time: 32 s

In [23]:
df.head(2)

,twitts,sentiments,word_count,char_count,avg_word_len,stop_words_count,hastag_count,mentions_count,numeric_digit,upper_count
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,1,0,1
1,is upset that he cannot update his facebook by...,0,21,111,4.285714,9,0,0,0,0

### Count and remove emails using Reg

In [35]:
import re

In [37]:
re.findall(r'([a-zA-Z0-9+._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]+)', x) #standard email regex pattern

NameError: name 'x' is not defined

In [38]:
df['emails'] = df['twitts'].apply(lambda x:re.findall(r'([a-zA-Z0-9+._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]+)', x))

In [ ]:
df['email_count'] = df['emails'].apply(lambda x:len(x))
df[df['email_count'] > 0 ].head(2)

### Remove emails from the Tweets

In [ ]:
#standard exp for email removal from tweets

In [39]:
df['twitts'] = df['twitts'].apply(lambda x: re.sub(r'([a-zA-Z0-9+._-]+@[a-zA-Z0-9._-]+\.[a-zA-Z0-9_-]+)', '', x))

### Count URL and remove it

In [ ]:
re.findall(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', x)

In [ ]:
df['urls_count'] = df['twitts'].apply(lambda x: len(re.findall(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', x)))

In [ ]:
df[df['urls_count'] >0]
df.loc[37].twitts

In [ ]:
re.sub(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '', x)

In [40]:
df['twitts'] = df['twitts'].apply(lambda x: re.sub(r'(http|ftp|https)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '', x))

In [ ]:
df.loc[37].twitts

### Remove RT that is Retweet

In [41]:
df['twitts'] = df['twitts'].apply(lambda x: re.sub('RT', "", x))

### Special character and punctuations removal

In [42]:
df['twitts'] = df['twitts'].apply(lambda x: re.sub('[^A-Z a-z 0-9-]+', '', x)) # ^ means keep this and remove else or replace

In [ ]:
df.head(2)

### Remove multiple spaces between words

In [ ]:
x = 'thanks for    joining the     class'

In [ ]:
" ".join(x.split())

In [43]:
df['twitts'] = df['twitts'].apply(lambda x: " ".join(x.split()))

### Remove HTML Tags

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
# df['twitts'] = df['twitts'].apply(lambda x: BeautifulSoup(x,'lxml').get_text())

### Remove Accented words

In [ ]:
import unicodedata

In [ ]:
def remove_accented_chars(x):
    x = unicodedata.normalize('NFKD', x).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return x

In [ ]:
# df['twitts'] = df['twitts'].apply(lambda x: remove_accented_chars(x))

### Spacy and NLP

### Remove Stop words

In [44]:
df['twitts'] = df['twitts'].apply(lambda x: " ".join([t for t in x.split() if t not in STOP_WORDS]))

### Convert into Root form of word use of Lemma spacy

In [45]:
nlp = spacy.load('en_core_web_sm')

In [ ]:
def make_to_base(x):
    x_list = []
    doc = nlp(x)
    
    for token in doc:
        lemma = str(token.lemma_)
        if lemma == '-PRON-' or lemma == 'be':
            lemma = token.text
        x_list.append(lemma)
    print(" ".join(x_list))
    
# make_to_base('kenichan dived times ball managed save 50 rest bounds')

In [ ]:
#df['twitts'] = df['twitts'].apply(lambda x:make_to_base(x)) #may take much time on 1.6 M dataset

### Common words removal

In [47]:
' '.join(df.head()['twitts'])

'switchfoot - awww bummer shoulda got david carr day d upset update facebook texting cry result school today blah kenichan dived times ball managed save 50 rest bounds body feels itchy like fire nationwideclass behaving mad'

In [48]:
text = ' '.join(df['twitts'])

In [49]:
text[0:200]

'switchfoot - awww bummer shoulda got david carr day d upset update facebook texting cry result school today blah kenichan dived times ball managed save 50 rest bounds body feels itchy like fire nation'

In [50]:
text = text.split()

In [51]:
freq_comm = pd.Series(text).value_counts()

In [52]:
top_20_freq_words = freq_comm[0:20]

In [53]:
top_20_freq_words[0:5]

good     89366
day      82299
like     77735
-        69662
today    64512
dtype: int64

In [54]:
df['twitts'] = df['twitts'].apply(lambda x: " ".join([t for t in x.split() if t not in top_20_freq_words]))

### Remove Rare words

In [55]:
top_20_rare_words = freq_comm[-20:]

In [57]:
df['twitts'] = df['twitts'].apply(lambda x: " ".join([t for t in x.split() if t not in top_20_rare_words]))

In [ ]:
rare = freq_comm[freq_comm.values == 1]

In [ ]:
rare[0:5]

In [ ]:
df.head()

### Wordcloud visu.

In [ ]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
x = " ".join(text[0:20000])

In [ ]:
x[0:100]

In [ ]:
wc = WordCloud(width=900, height=400).generate(x)
plt.imshow(wc)
plt.axis("off")
plt.show()

### Spelling correction

In [61]:
from textblob import TextBlob

In [ ]:
x = 'thnks for takng caer of my mohter'
x = TextBlob(x).correct()
x

In [ ]:
# df['twitts'] = df['twitts'].apply(lambda x: TextBlob(x).correct()) #may take longer time

### Tokenization

In [ ]:
x = 'thanks for watching the video'
TextBlob(x).words

In [ ]:
#using spacy
doc = nlp(x)
for token in doc:
    print(token)

### Lemmatization

In [60]:
from textblob import Word #using textblob 
x = 'runs run running ran'
for token in x.split():
    print(Word(token).lemmatize())

run
run
running
ran

In [ ]:
#using spacy
doc = nlp(x)
for token in doc:
    print(token.lemma_)

### Detecting Entities using NER of Spacy

In [ ]:
x = 'Donald Trump president of USA'
doc = nlp(x)
for ent in doc.ents:
    print(ent.text, '--->' , ent.label_)

In [ ]:
from spacy import displacy
displacy.render(doc,style = 'ent')

### Detecting Nouns

In [ ]:
for noun in doc.noun_chunks:
    print(noun)

### Language detection and Translation

In [ ]:
x = 'how are your legs?'
tb = TextBlob(x)
tb.detect_language()

In [ ]:
tb.translate(to = 'hi')

In [ ]:
data = pd.DataFrame()
data['translation'] = df['twitts'][0:100]
data.shape

In [ ]:
try:
    data['Hindi'] = data['translation'].apply(lambda x: TextBlob(x).translate(to = 'en'))
except:
    data['Hindi'] = data['translation'].apply(lambda x:x)

### Use inbuilt sentiment classifier

In [62]:
from textblob.sentiments import NaiveBayesAnalyzer
x = 'we all learning machine learning because its very interesting'
tb = TextBlob(x, analyzer=NaiveBayesAnalyzer())
tb.sentiment

Sentiment(classification='pos', p_pos=0.6487108433730419, p_neg=0.3512891566269582)

In [ ]:
 import nltk
 nltk.download('movie_reviews')

## Advance Text Processing

### N- Grams

In [63]:
x = 'thanks for watching'
tb = TextBlob(x)

In [64]:
tb.ngrams(1)
tb.ngrams(2)

[WordList(['thanks', 'for']), WordList(['for', 'watching'])]

### Bag of Words

In [65]:
x = ['this is first sentecnce', 'this is second', 'this is the last one']

In [66]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(ngram_range=(1,1))
text_counts = cv.fit_transform(x)

In [67]:
text_counts.toarray()

array([[1, 1, 0, 0, 0, 1, 0, 1],
       [0, 1, 0, 0, 1, 0, 0, 1],
       [0, 1, 1, 1, 0, 0, 1, 1]], dtype=int64)

In [68]:
cv.get_feature_names()

['first', 'is', 'last', 'one', 'second', 'sentecnce', 'the', 'this']

In [69]:
bow = pd.DataFrame(text_counts.toarray(), columns=cv.get_feature_names())

In [ ]:
bow

In [ ]:
x

### Term Frequency

In [ ]:
#its a ratio of count of the words in the sentecnce to the lenth of the sentecnce

In [70]:
x

['this is first sentecnce', 'this is second', 'this is the last one']

In [71]:
bow, bow.shape

(   first  is  last  one  second  sentecnce  the  this
 0      1   1     0    0       0          1    0     1
 1      0   1     0    0       1          0    0     1
 2      0   1     1    1       0          0    1     1, (3, 8))

In [72]:
tf = bow.copy()
tf.iterrows()

In [73]:
for index,row in enumerate(tf.iterrows()):
    for col in row[1].index:
        tf.loc[index,col] = tf.loc[index,col]/sum(row[1].values)

In [ ]:
tf

### IDF

In [74]:
import numpy as np
x_df = pd.DataFrame(x, columns=['words'])
x_df

                     words
0  this is first sentecnce
1           this is second
2     this is the last one

In [ ]:
bow

In [75]:
N = bow.shape[0]
N

3

In [ ]:
bb = bow.astype('bool')
bb

In [ ]:
bb['is'].sum()

In [ ]:
cols = bb.columns
cols

In [ ]:
nz = []
for col in cols:
    nz.append(bb[col].sum())
nz

In [ ]:
idf = []
for index, col in enumerate(cols):
    idf.append(np.log((N + 1)/(nz[index] + 1)) + 1)

In [ ]:
idf, bow

### TF IDF

In [76]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
x_tfidf = tfidf.fit_transform(x_df['words'])

In [77]:
x_tfidf.toarray()
tfidf.idf_

array([1.69314718, 1.        , 1.69314718, 1.69314718, 1.69314718,
       1.69314718, 1.69314718, 1.        ])

## Word Embeddings

### Word2Vec using Spacy

In [81]:
!python -m spacy download en_core_web_lg

Collecting en_core_web_lg==2.2.5
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.2.5/en_core_web_lg-2.2.5.tar.gz (827.9 MB)
Requirement already satisfied: spacy>=2.2.2 in c:\programdata\anaconda3\lib\site-packages (from en_core_web_lg==2.2.5) (2.2.3)
Requirement already satisfied: wasabi<1.1.0,>=0.4.0 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (0.6.0)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (3.0.2)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (1.0.2)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (2.0.3)
Requirement already satisfied: blis<0.5.0,>=0.4.0 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (0.4.1)
Requirement already satisfied: setuptools in c:\users\niranjann\appdata\roaming\python\python37\site-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (46.4.0)
Requirement already satisfied: thinc<7.4.0,>=7.3.0 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (7.3.1)
Requirement already satisfied: plac<1.2.0,>=0.9.6 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (1.1.3)
Requirement already satisfied: srsly<1.1.0,>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (1.0.2)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\niranjann\appdata\roaming\python\python37\site-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (2.23.0)
Requirement already satisfied: catalogue<1.1.0,>=0.0.7 in c:\programdata\anaconda3\lib\site-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (1.0.0)
Requirement already satisfied: numpy>=1.15.0 in c:\users\niranjann\appdata\roaming\python\python37\site-packages (from spacy>=2.2.2->en_core_web_lg==2.2.5) (1.18.4)
Requirement already satisfied: tqdm<5.0.0,>=4.10.0 in c:\programdata\anaconda3\lib\site-packages (from thinc<7.4.0,>=7.3.0->spacy>=2.2.2->en_core_web_lg==2.2.5) (4.36.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\niranjann\appdata\roaming\python\python37\site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_lg==2.2.5) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\niranjann\appdata\roaming\python\python37\site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_lg==2.2.5) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\niranjann\appdata\roaming\python\python37\site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_lg==2.2.5) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\niranjann\appdata\roaming\python\python37\site-packages (from requests<3.0.0,>=2.13.0->spacy>=2.2.2->en_core_web_lg==2.2.5) (1.25.9)
Requirement already satisfied: importlib-metadata>=0.20; python_version < "3.8" in c:\users\niranjann\appdata\roaming\python\python37\site-packages (from catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_lg==2.2.5) (1.6.0)
Requirement already satisfied: zipp>=0.5 in c:\users\niranjann\appdata\roaming\python\python37\site-packages (from importlib-metadata>=0.20; python_version < "3.8"->catalogue<1.1.0,>=0.0.7->spacy>=2.2.2->en_core_web_lg==2.2.5) (3.1.0)
Building wheels for collected packages: en-core-web-lg
  Building wheel for en-core-web-lg (setup.py): started
  Building wheel for en-core-web-lg (setup.py): still running...
  Building wheel for en-core-web-lg (setup.py): finished with status 'done'
  Created wheel for en-core-web-lg: filename=en_core_web_lg-2.2.5-py3-none-any.whl size=829180949 sha256=4a6d3e845c8129fe89eda76b48f8fa806d59de9e2e1841009fd570822987e1a6
  Stored in directory: C:\Users\NIRANJ~1\AppData\Local\Temp\pip-ephem-wheel-cache-r20wjfw8\wheels\11\95\ba\2c36cc368c0bd339b44a791c2c1881a1fb714b78c29a4cb8f5
Successfully built en-core-web-lg
Installing collected packages: en-core-web-lg
Successfully installed en-core-web-lg-2.2.5
[+] Download and installation successful
You can now load the model via spacy.load('en_core_web_lg')

WARNING: You are using pip version 20.1.1; however, version 21.1.1 is available.
You should consider upgrading via the 'C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [86]:
nlp = spacy.load('en_core_web_sm')

In [87]:
doc = nlp('thank you! dog cat lion dfasaa')

In [88]:
for token in doc:
    print(token.text, token.has_vector)

thank True
you True
! True
dog True
cat True
lion True
dfasaa True

In [89]:
token.vector.shape

(96,)

In [91]:
nlp('cat').vector.shape

(96,)

In [98]:
import warnings
warnings.filterwarnings('ignore')

for token1 in doc:
    for token2 in doc:
        pass
#         print(token1.text, token2.text, token1.similarity(token2))

### Machine Learning Model for Text Classification

In [100]:
df.shape

(1600000, 4)

In [103]:
#reducing the data by tkaing only samples for faster processing
df0 = df[df['sentiments'] == 0].sample(2000)
df4 = df[df['sentiments'] == 4].sample(2000)

In [105]:
dfr = df0.append(df4)

In [107]:
dfr.head()

,twitts,sentiments,stop_words_count,emails
295541,rylee broke hello kitty snow globe epic fail f...,0,7,[]
303624,kitties cute toulouse peed lap cute lap,0,13,[]
228312,stop coughing rip throat offwould help,0,4,[]
526710,thinking button hatches anticpation storms hea...,0,10,[]
317707,lottiotta likely little late exams doom month ...,0,16,[]

In [108]:
dfr['sentiments']

295541     0
303624     0
228312     0
526710     0
317707     0
          ..
1437949    4
1133649    4
1246684    4
901924     4
1398126    4
Name: sentiments, Length: 4000, dtype: int64

In [109]:
from sklearn.feature_extraction.text import CountVectorizer

In [111]:
cv = CountVectorizer()
text_counts = cv.fit_transform(dfr['twitts'])

In [112]:
text_counts.toarray().shape

(4000, 9658)

In [113]:
dfr_bow= pd.DataFrame(text_counts.toarray(), columns=cv.get_feature_names())

### ML Algorithams

In [115]:
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier


from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import MinMaxScaler

In [117]:
sgd = SGDClassifier(n_jobs=-1,random_state=42,max_iter=200)
lgr = LogisticRegression(random_state=42,max_iter=200)
lgrcv = LogisticRegressionCV(cv = 2, random_state= 42, max_iter= 1000)
svm = LinearSVC(random_state=42,max_iter=200)
rfc = RandomForestClassifier(random_state=42,n_jobs=-1, n_estimators = 200)

In [123]:
y = dfr['']
clf = {"SGD":sgd,"LGR":lgr,"LGRCV":lgrcv,"SVM":svm,"RFC":rfc}
clf.keys()

dict_keys(['SGD', 'LGR', 'LGRCV', 'SVM', 'RFC'])

In [131]:
def classify(x,y):
    scaler = MinMaxScaler(feature_range=(0,1))
    x = scaler.fit_transform(x)
    
    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)
    
    for key in clf.keys():
        clf[key].fit(x_train,y_train)
        y_pred = clf[key].predict(x_test)
        ac = accuracy_score(y_test,y_pred)
        print(key, "---->", ac)

In [132]:
classify(dfr_bow,dfr['sentiments'])

SGD ----> 0.635
LGR ----> 0.67
LGRCV ----> 0.67375
SVM ----> 0.645
RFC ----> 0.635